<!doctype html>
<html>
  <head>
    <title>The Next Step</title>
    <meta name="description" content="What I'm doing with myself next">
  </head>
  <body>
    <p>I'm excited to announce that I have taken a position at IBM. I will be
    working closely with Jesse Proudman and Angel Diaz to deliver excellence
    and innovation to IBM Cloud.</p>

    <p>When I joined HP, it was with the intent to be involved in making sure that HP
    invested its resources in OpenStack to good effect. Over the last 3.5 years
    I'm proud of both what I've been able to accomplish and where
    HP is with respect to OpenStack. In this, I believe my time at HP has been well
    spent for me, for HP and for the OpenStack Community.</p>

    <p>Recently, we were all sad when Joe Gordon left OpenStack. He left because he
    had gotten in to OpenStack in the first place to take on Amazon in the Public
    Cloud space, and was frustrated that most of the work was in service of
    private cloud.</p>

    <p>I agree with Joe. I believe that it is important for the industry that there
    is at least one Open alternative to Amazon. I believe that in times such as
    these it is essential to continue to be bold and swing for the stars. I do
    not concede that Amazon has won the cloud. I do not believe that Amazon's story
    is the story we need.</p>

    <p>I believe that there is a Public Cloud story that can not only compete with
    Amazon, but significantly exceed them ... and I intend to dive full steam into
    proving it.</p>

    <p>IBM agrees.</p>
    <p>IBM is ready.</p>
    <p>IBM wants me to be a part of shaping what comes next.</p>

    <p>From the bottom of my heart I want to thank HP. Both I and OpenStack have grown
    immeasurably during my time and together we've done some great things. I will
    continue to wish HP all of the success and I look forward to continued
    collaboration across OpenStack.</p>

    <p>I'm excited about what tomorrow brings for me at IBM, and I can't wait to get
    started.</p>
</body>
</html>
